// colors
$white: #fff;
$isabelline:#eeeded;
$spanisgray:#989797;

$coral:#e5be01;
$buff: #f1dd7b;
$vanilla:#f5e7a1;

$flame: #e4572e;
$lightredochre:#e87554;
$pastelPink: #f2b2a0;

$shinyshamrock: #4ca866;
$tourquoisegreen: #9dcfab;
$pastelgray: #bddfc7;

$bluedefrance: #3c91e6;
$bluejeans:$bluedefrance#5fa5ea;
$jordyblue: #82b9ef;

$black: #000000;
$outerspace:#454545;
$quicksilver:#a2a2a2;

// typography
$ptmono: PT mono;
$roboto: Roboto Light;

// font sizes 
$xxx-large: 70px;
$xx-large: 40px;
$x-large:30px;
$large:18px;
$medium:14px;
