

* {
    font-family: "Roboto light", PT mono ;
    color: #171717;
  }


body {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    width: 1280px;
   
  }